html {
    scroll-behavior: smooth;
    margin: 0;
  }

  body::-webkit-scrollbar {
    display: none; 
    margin: 0;
  }
  
body {
    background-color: #ffffff;
    color: #000000;
}


body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

#body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(https://t4.ftcdn.net/jpg/01/17/52/47/360_F_117524744_1GfVxCN8ePvmAg4Q2kxNqwuUtYdIdWxV.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    margin: 0 5px;  
    font-size: 25px;
    padding: 5px 0; 
    height: auto;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: whitesmoke; 
    z-index: 1000; 
    display: flex;
    justify-content: space-evenly; 
    list-style: none;
    padding: 0;
    flex-wrap: wrap;

}

.navbar.dark-mode {
    background-color: #333333;
    color: #faf6f6;
}

button#toggle-theme {
    background-color: rgb(2, 45, 61);
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button#toggle-theme:hover {
    background-color: #0056b3;
}

.header{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

.description{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.description p{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.description ol{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}
.description ol li{
    margin-top: 10px;
    text-align: center;
}

#booking-homepage {
    background-color: rgb(53, 48, 48);
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    text-align: center;
    display: inline-block;
    width: 100%;
    
}
#booking-homepage h1 {
    color: gold;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
#booking-homepage h2 {
    color: rgb(108, 192, 164);
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
#booking-homepage label {
    color: rgb(108, 192, 164);
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
#booking-homepage input {
    width: auto;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(108, 192, 164);
}

#booking-info {
    background-color: rgb(53, 48, 48);
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    text-align: center;
    display: inline-block;
    width: 100%;
    
}
#booking-info h1 {
    color: gold;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
#booking-info label {
    color: rgb(108, 192, 164);
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
#booking-info input {
    width: auto;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(108, 192, 164);
}
.Info {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
    font-style: italic;
}

#payment {
    background-color: rgb(53, 48, 48);
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    text-align: center;
    display: inline-block;
    width: 100%;
    
}
#payment h1 {
    color: gold;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
#payment label {
    color: rgb(108, 192, 164);
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
#payment input {
    width: auto;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(108, 192, 164);
}
select, input[type='text'], input[name='card-number'] {
    width: auto;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(108, 192, 164);
}

#booking-confirmation {
    background-color: rgb(53, 48, 48);
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    text-align: center;
    display: inline-block;
    width: 100%;
    
}
#booking-confirmation h1 {
    color: gold;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}
#booking-confirmation p {
    color: rgb(108, 192, 164);
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}